.row, .column {
    position: relative;
}

.row:before {
    content: "Row";
    transform: translate(50%, 50%);
}

.column:before {
    content: "Column";
    transform: translate(30%, 50%);
}

.row:before, .column:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    font-size: 12px;
}

.delete {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.tab-button.active {
    @apply text-blue-600 border-blue-600 border-b-white;
}