.row, .column {
    position: relative;
}

.form-area .row:before {
    content: "Row";
    transform: translate(50%, 50%);
}

.form-area .column:before {
    content: "Column";
    transform: translate(30%, 50%);
}

.form-area .row:before, .column:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    font-size: 12px;
}

.delete {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.reorder {
    position: absolute;
    top: 8px;
    left: -10px;
    background: #EEE;
    border-radius: 6px;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 1;
}

.tab-button.active {
    @apply text-blue-600 border-blue-600 border-b-white;
}